__pycache__/
*.pyc
.vscode/
.pytest_cache
# Ignore the entire data directory and its contents
data/
# Ignore specific files if you want to keep other things in those folders
cytoscape/df_final_comparison_best.csv
cytoscape/df_final_comparison_mean.csv
outputs/../*.csv
outputs/../*.parquet
# Ignore all CSV files anywhere in the project
*.csv

#Do not ignore these files
!outputs/figures/*.png